<a href="https://colab.research.google.com/github/nirvikdahal/Python/blob/main/Copy_of_Disctionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#CREATING A DISCTIONARY WITH KEYS 1,2,3,4 AND ASSIGNING VALUES EQUAL TO SQAURE OF THE KEYS
numbers = [1, 2, 3, 4]
squares1 = {}
for item in numbers:
  squares1[item] = item**3
squares1

{1: 1, 2: 8, 3: 27, 4: 64}

In [ ]:
#clear:Clears the contents of a dictionary.
squares1.clear()

In [ ]:
squares1

{}

In [ ]:
#get:Gets the value associated with a specified key.
#If the key is not found, the method does not raise an exception.
#Instead, it returns a default value.
squares1.get(10,10)

10

In [ ]:
#items:Returns all the keys in a dictionary and their associated values as a sequence of tuples.
squares1.items()

dict_items([(1, 1), (2, 8), (3, 27), (4, 64)])

In [ ]:
#pop:Returns the value associated with a specified key and removes that key-value pair from the dictionary.
#If the key is not found, the method returns a default value.

squares1.pop(3,2)

27

In [ ]:
#popitem:Returns, as a tuple, the key-value pair that was last added to the dictionary.
#The method also removes the key-value pair from the dictionary.

squares1.popitem()

(4, 64)

In [ ]:
#values:Returns all the values in the dictionary as a sequence of tuples.
squares1.values()

dict_values([1, 8, 27, 64])

In [ ]:
#CREATING DISCTIOANRY USING ITERATION WITH FOR
numbers = [5,4,3,2,1]
squares2 = {item:item**3 for item in numbers}
squares2

{5: 125, 4: 64, 3: 27, 2: 8, 1: 1}

In [ ]:
square3 = squares1 | squares2
square3

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
square4 = squares2 |= squares1
square4

SyntaxError: invalid syntax (<ipython-input-32-32fd979e9e7c>, line 1)

In [ ]:
#USE LEN TO FIND THE LENGTH OF THE STRING
names = ['Jeremy', 'Kate', 'Peg']
str_lengths = {item:len(item) for item in names}
str_lengths

{'Jeremy': 6, 'Kate': 4, 'Peg': 3}

In [ ]:
#MAKING A COPY OF THE DICTIONARY
dict1 = {'A':1, 'B':2, 'C':3}
dict2 = {k:v for k,v in dict1.items()}
dict2

{'A': 1, 'B': 2, 'C': 3}

In [1]:
#Example: A dictionary contains cities and their populations as key-value pairs.
#Select only the cities with a population greater than 2 million
populations = {'New York': 8398748, 'Los Angeles': 3990456,
              'Chicago': 2705994, 'Houston': 2325502,
               'Phoenix': 1660272, 'Philadelphia': 1584138}
largest = {k:v for k,v in populations.items() if v > 2000000}
largest

{'New York': 8398748,
 'Los Angeles': 3990456,
 'Chicago': 2705994,
 'Houston': 2325502}