<a href="https://colab.research.google.com/github/nirvikdahal/Python/blob/main/lists_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#The following code uses a for loop to make a copy of a list:
list1 = [1, 2, 3, 4]
list2 = []
for item in list1:
    list2.append(item)

In [ ]:
list2

[1, 2, 3, 4]

In [ ]:
#The following code uses a list comprehension to make a copy of a list:
list1 = [11, 22, 33, 44]
list2 = [item for item in list1]
list2

[11, 22, 33, 44]

In [ ]:
#list comprehensions
list1 = [10, 20, 30, 40]
list2 = [item**2 for item in list1]
list2

In [ ]:
str_list = ['Winken', 'Blinken', 'Nod']
len_list = [len(s) for s in str_list]
len_list

[6, 7, 3]

In [ ]:
#You can use an if clause in a list comprehension to select only certain elements when processing a list
list1 = [1, 12, 2, 20, 3, 15, 4]
list3 = []
for n in list1:
    if n < 19:
        list3.append(n)
list3

[1, 12, 2, 3, 15, 4]

In [ ]:
list1 = [1, 12, 2, 20, 3, 15, 4]
list4 = [item for item in list1 if item < 14]
list4

[1, 12, 2, 3, 4]

In [ ]:
list1 = [1, 12, 2, 20, 3, 15, 4]
list5 = [item for item in list1 if item < 10]
list5

[1, 2, 3, 4]

In [8]:
#Tuple: an immutable sequence and do not support append
#remove
#insert
#reverse
#sort
#Although tuples are immutable, you can store mutable objects in a tuple
t = (10, 20, [97, 98, 99])
print(t)
t[2].append(100)
print(t)

(10, 20, [97, 98, 99])
(10, 20, [97, 98, 99])
(10, 20, [97, 98, 99, 100])